@model LoginModel

<form asp-action="Login" asp-controller="Auth" method="post">
    <input type="email" class="form-control" placeholder="email" asp-for="Email"/>
    <input type="password" class="form-control" placeholder="pass" asp-for="Password">
    <button type="submit" class="btn btn-primary" value="Login"/>
</form>
